<div class="call-container">
    <app-animation-background></app-animation-background>

    <div class="call-container__videos">

        <h1 id="window_size">{{windowSize | json}}</h1>

        <video #local_video class="video-player" id="local_video" autoplay playsinline></video>

        <video #remote_video class="video-player" id="remote_video" autoplay playsinline></video>
    </div>

    <app-ui-call-bar (e_turn_on_mic)="handleUserMediaStatus(false, $event)"
        (e_turn_on_camera)="handleUserMediaStatus(true, $event)"
        (e_hang_up_call)="handleEventHangUpCalling()"></app-ui-call-bar>
</div>

<!-- autoplay playsinline controls -->
